[Desktop Entry]
Icon=text-html
Name=handoff
Type=Link
URL[$e]=https://discordapp.com/handoff?rpc=6463&key=703b2dcb-1e5a-4c5f-97bc-89efed229c8b
X-KDE-LastOpenedWith=firefox
